bidict==0.21.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
cryptography==3.4.7
Flask==2.0.0
flask-core==2.9.0
Flask-Cors==3.0.10
flask-ngrok==0.0.25
Flask-Script==2.0.6
Flask-SocketIO==5.0.3
Flask-WTF==0.14.3
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
ldap3==2.9
MarkupSafe==2.0.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.1.0
pyOpenSSL==20.0.1
python-engineio==4.2.0
python-socketio==5.3.0
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.15
urllib3==1.26.4
Werkzeug==2.0.1
WTForms==2.3.3
